name: RSpec

on: push

jobs:
  build_rails_5_2:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ "2.5.x", "2.6.x" ]
        rails: [ "5.2", "6.0" ]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: actions/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Apply Rails ${{ matrix.ruby }} dependencies
      run: |
        echo "gem 'activesupport', '~> ${{ matrix.rails }}'" >> Gemfile
        echo "gem 'activerecord', '~> ${{ matrix.rails }}'" >> Gemfile
        echo "gem 'railties', '~> ${{ matrix.rails }}'" >> Gemfile
    - name: Set up dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libsqlite3-dev
        sudo apt-get install redis-server
        gem install bundler
        bundle update activesupport activerecord railties
        bundle install --jobs 4 --retry 3
    - name: Run RSpec
      run: |
        bundle exec rspec
